<div class="row">
  <div class="col-md-12">
    <h3>Welcome to Finacc KLT test</h3>
    <h5>The objective of this test the web application with basic User resource CRUD operation</h5>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <h5>Create new user</h5>
    <div class="well well-sm">
      <form class="form-horizontal" (ngSubmit)="save()">
        <div class="row">
          <div class="col-md-4">
            <input name="firstname" class="form-control input-sm" type="text" placeholder="First Name" [(ngModel)]="firstName" required>
          </div>
          <div class="col-md-4">
            <input name="lastname" class="form-control input-sm" type="text" placeholder="Last Name" [(ngModel)]="lastName" required>
          </div>
          <div class="col-md-2">
            <input name="age" (focusout)="validateAge(age)" class="form-control input-sm" type="number" placeholder="Age" [(ngModel)]="age" required>
            <label class="control-label " *ngIf="ageStatus">Status : {{ageStatus}}</label>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-sm btn-primary" (ngSubmit)="save()" [disabled]="disabledSubmit"> Save</button>
            <button type="button" class="btn btn-sm btn-default" (click)="clear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div *ngIf="users && users.length > 0;then result_content else no_content"></div>
</div>
<ng-template #result_content>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class=" text-center">Id</th>
            <th class=" text-center">First Name</th>
            <th class=" text-center">Last Name</th>
            <th class=" text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="text-center">{{user.id}}</td>
            <td class="text-center">{{user.firstName}}</td>
            <td class="text-center">{{user.lastName}}</td>
            <td class="text-center"><a class="btn btn-danger btn-xs" type="btn btn-danger" (click)="delete(user.id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #no_content>
  <div class="col-md-12 text-center">
    No user records
  </div>
</ng-template>
